########################################################################
# Server version: 8.0.16 MySQL Community Server - GPL
#
# Additional information
# https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html
########################################################################
[client]
port                = 3306
socket              = /var/run/mysqld/mysqld.sock

[mysqld_safe]
open_files_limit    = 8192
user                = db

[mysql]
no_auto_rehash
max_allowed_packet  = 128M

[mysqldump]
quick
quote-names
max_allowed_packet  = 128M

[mysqlhotcopy]
interactive-timeout = 10000

[mysqld]
########################################################################
# GENERAL SERVER CONFIGURATION
########################################################################
# Client default authentication type
default-authentication-plugin       = mysql_native_password

# Server default timezone (UTC)
default-time-zone                   = '+00:00'

# Directory where database files reside
datadir                             = /datadb/tables

# Tha path to the unix socket file
socket                              = /var/run/mysqld/mysqld.sock

# The linux user that the server process should run as
user                                = db

# The file system character set
character-set-filesystem            = utf8mb4

# The server's default character set
character_set_server                = utf8mb4

# The server's default collation
collation_server                    = utf8mb4_0900_ai_ci

# The maximum depth of search performed by the query optimizer
optimizer_search_depth              = 5
default_storage_engine              = InnoDB
default_tmp_storage_engine          = InnoDB
sql_mode                            = TRADITIONAL,TIME_TRUNCATE_FRACTIONAL
max_allowed_packet                  = 128M
max_connections                     = 100
group_concat_max_len                = 4096
net_read_timeout                    = 100
net_write_timeout                   = 200
net_retry_count                     = 30
thread_stack                        = 1000K
thread_cache_size                   = 256
skip-character-set-client-handshake = 1
transaction-isolation               = REPEATABLE-READ

# The maximum size of internal in-memory temporary tables
tmp_table_size                      = 128M

########################################################################
# SERVER BINARY LOGGING AND REPLICATION
########################################################################
# Sets the binary log expiration period in seconds
binlog_expire_logs_seconds = 0
skip_log_bin               = 1

########################################################################
# SECURITY
########################################################################
# This variable controls server-side LOCAL capability for LOAD DATA statements
local_infile      = 1

# Binds to localhost only, must connect through ssh outside
bind-address      = 0.0.0.0
symbolic-links    = 0

# When enabled mysqld uses IP numbers; all Host col values in grant tables
# must be IP address or localhost
skip-name-resolve = 1

# Path the server limits import and export operations to only work with
secure-file-priv  = /srv

########################################################################
# OTHER BUFFERS AND CACHES
########################################################################
# As big as many tables as you have
table_definition_cache = 400

# Connections x tables/Connections (~2)
table_open_cache       = 400

########################################################################
# SERVER LOGGING
########################################################################

########################################################################
## LOGGING :: MYSQL ERROR LOG
########################################################################
log_error           = /datadb/tables/log__mysqld_error.err
log_error_verbosity = 2


########################################################################
## LOGGING :: MYSQL SLOW QUERY LOG
########################################################################
slow_query_log_file           = /datadb/tables/log__mysqld_slowquery.log
slow_query_log                = 0
log_queries_not_using_indexes = 1
long_query_time               = 0.5
min_examined_row_limit        = 100


########################################################################
## LOGGING :: GENERAL QUERY LOG##
########################################################################
general_log_file = /datadb/tables/log__mysqld_general.log
general_log      = 0

########################################################################
# MEMORY ENGINE
########################################################################
max_heap_table_size                 = 256M

########################################################################
# INNODB ENGINE
########################################################################

########################################################################
## INNODB :: FILES
########################################################################
innodb_file_per_table      = 1

# The size in bytes of each log file in a log group
innodb_log_file_size       = 256M

# The number of log files in the log group
innodb_log_files_in_group  = 2

# This configuration option is only relevant if you use multiple InnoDB
# tablespaces
innodb_open_files          = 4000

# Path to the InnoDB redo logs, whose number is specified by
# innodb_log_files_in_group
#innodb_log_group_home_dir = /datadb/tables

# The path where InnoDB creates undo tablespaces
#innodb_undo_directory     = /datadb/tables

# The common part of the directory path for InnoDB system tablespace data files
#innodb_data_home_dir      = /datadb/tables

# Defines directories to scan at startup for tablespace files
# For tablespace data files created outside of the MySQL data directory to be 
# found during recovery, the directory must be known to InnoDB
#innodb-directories        =

########################################################################
## INNODB :: BUFFER POOL
########################################################################
# Go up to 80% of availible RAM
# Pool size = innodb_buffer_pool_chunk_size * innodb_buffer_pool_instances
innodb_buffer_pool_size         = 1G

# Specify so each buffer pool instance is at least 1GB
innodb_buffer_pool_instances    = 2

# Keep chunks < 1000, innodb_buffer_pool_size / innodb_buffer_pool_chunk_size
# Default is 128MB
# innodb_buffer_pool_chunk_size = 128M

# Size in bytes of the buffer that InnoDB uses to write to the log files on disk
# default is 16MB
innodb_log_buffer_size          = 10M

########################################################################
## INNODB :: TUNING
########################################################################
# When enabled (the default), InnoDB stores data 2X, first to doublewrite
# buffer, then actual data files
innodb_doublewrite             = 1
innodb_data_file_path          = ibdata1:12M:autoextend

# 1 = ACID Compliant
innodb_flush_log_at_trx_commit = 1

########################################################################
## INNODB :: PERFORMANCE SPECIAL
########################################################################
# XFS F/S
innodb-flush-method        = O_DIRECT

# Specifies whether flushing a page from buffer pool also flushes other
# dirty pages in same extent
innodb_flush_neighbors     = 0

# Dynamically enable or disable adaptive hash indexing to improve query
# performance 
innodb_adaptive_hash_index = 1

# Defines the percentage of space on each B-tree page that is filled
# during a sorted index build
innodb_fill_factor         = 100

# Defines an upper limit the number of I/O operations performed per second
innodb_io_capacity_max     = 4000

# Sets an upper limit on the number of I/O operations performed per second
innodb_io_capacity         = 2000

# Establishes a target for flushing activity, it does not affect the rate 
# of flushing
innodb-max-dirty-pages-pct = 90

# The number of I/O threads for read operations in InnoDB
innodb-read-io-threads     = 4

# The number of I/O threads for write operations in InnoDB
innodb-write-io-threads    = 4

# Tries to keep the number of operating system threads concurrently
# inside InnoDB less than or equal to this
innodb-thread-concurrency  = 0

########################################################################
# MyISAM Engine
########################################################################
sort_buffer_size        = 16M
net_buffer_length       = 8192000
myisam_sort_buffer_size = 16M
bulk_insert_buffer_size = 32M
join_buffer_size        = 32M
skip-external-locking   = 1
read_buffer_size        = 5M
read_rnd_buffer_size    = 256K