<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Example</title>
        <meta name="description" content="Example">
        <link href="/favicon.ico" rel="icon" type="image/x-icon" />

        <!-- Styles -->
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css?v={{ version }}">
    </head>

    <body id="body">
        <main id="main">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>