<p>ID: <span class="bold">{{ id }}</span></p>
<p>Created On: <span class="bold">{{ created }}</span></p>
<p>Code: <span class="bold">{{ code }}</span></p>
<p>Description: <span class="bold">{{ description }} </span></p>